$icomoon-font-family: "icofont" !default;
$icomoon-font-path: "/fonts/icons" !default;

$ico-behance: "\e900";
$ico-codepen: "\e901";
$ico-github: "\e902";
$ico-html: "\e903";
$ico-instagram: "\e904";
$ico-list: "\e905";
$ico-medium: "\e906";
$ico-personal: "\e907";
$ico-responsive: "\e908";
$ico-work: "\e909";

